<div class="row">
    <div class="col-md-6">
      <img src="<%= product.imageUrl %>" class="img-fluid rounded" alt="<%= product.name %>">
    </div>
    <div class="col-md-6">
      <h1><%= product.name %></h1>
      <p class="text-primary font-weight-bold h3">$<%= product.price %></p>
      <hr>
      <p><%= product.description %></p>
      
      <div class="my-4">
        <% if(product.stock > 0) { %>
          <span class="badge badge-success">En stock (<%= product.stock %> disponibles)</span>
        <% } else { %>
          <span class="badge badge-danger">Agotado</span>
        <% } %>
      </div>
  
      <form action="/cart/add" method="POST">
        <input type="hidden" name="productId" value="<%= product.id %>">
        <div class="form-group">
          <label for="quantity">Cantidad:</label>
          <input 
            type="number" 
            class="form-control w-25" 
            id="quantity" 
            name="quantity" 
            value="1" 
            min="1" 
            max="<%= product.stock %>" 
            <%= product.stock === 0 ? 'disabled' : '' %>
          >
        </div>
        <button 
          type="submit" 
          class="btn btn-primary btn-lg" 
          <%= product.stock === 0 ? 'disabled' : '' %>
        >
          <i class="fas fa-cart-plus"></i> Añadir al carrito
        </button>
      </form>
    </div>
  </div>
  